<%- include('partials/_head') %>

<body class="container" style="height: 100vh;">
  <div class="h-100 gap-3 d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome</h1>
    <h3>to tinyapp - a url shortener manager</h3>
    <div class="my-4">
      <a class="mx-3 btn btn-primary btn-lg" href="/login">Login</a>
      <a class="mx-3 btn btn-primary btn-lg" href="/register">Register</a>
    </div>
  </div>
  <%- include('partials/_bootstrap-scripts') %>
</body>

</html>